.card{
    height: 100%;
    min-height: 0;
    width: 100%;
  }
  .card_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    width: inherit;
    height: inherit;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    box-shadow: 0 0 8px #ffffff25;
  }
  .card::after {
    top: -20px;
    left: -20px;
    background-color: rgba(125, 214, 66, 0.603);
    animation: animFirst 5s linear infinite;
  }
  .card:nth-child(1){
    grid-area: instagram;
  }
  .card:nth-child(2){
    grid-area: facebook;
  }
  .card:nth-child(3){
    grid-area: about;
  }
  .card:nth-child(4){
    grid-area: learn;
  }
  .card:nth-child(4) h1{
    font-size: 24px;
    padding-bottom: 0;
  }
  .card:nth-child(4):hover{
    cursor: pointer;
    transform: scale(1.05);
  }