@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
  color: #333;
  font-family: 'Nunito';

  background: url(../public/background/background_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}
a {
  color: #333;
  text-decoration: none;
}
.content {
  max-width: 1400px;
  margin: 0 auto;
}
nav {
  margin: 10px auto 50px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 12px;
}
nav .logo {
  margin-left: auto;
}
footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
  position: relativebacg;
  bottom: 0;
  left: 0;
  right: 0;
}
.not-found {
  text-align: center;
}
.not-found a {
  color: #4979ff;
  text-decoration: underline;
}
