.grid_container{
    display: grid;
    gap: 1.5rem;
    width: min(95%,200rem);
    grid-template-columns:repeat(2,1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "about addButton"
    "about instagram"
    "learn facebook";
    margin-inline:auto;
    margin: 45px;
  }